@namespace Semi.Design.Blazor

@inherits SDomComponentBase
<CascadingValue Value="@Danger" Name="@nameof(Danger)">
    <CascadingValue Value="Disabled" Name="@nameof(Disabled)">
        <CascadingValue Value="Link" Name="@nameof(Link)">
            <CascadingValue Value="Secondary" Name="@nameof(Secondary)">
                <CascadingValue Value="Size" Name="@nameof(Size)">
                    <CascadingValue Value="Tertiary" Name="@nameof(Tertiary)">
                        <CascadingValue Value="Theme" Name="@nameof(Theme)">
                            <CascadingValue Value="Warning" Name="@nameof(Warning)">
                                <SButton
                                    Secondary="@Secondary"
                                    Block="@Block"
                                    Circle="@Circle"
                                    Class="@ComponentProvider.GetClass()"
                                    Style="@ComponentProvider.GetStyle()"
                                    Id="@Id"
                                    OnMouseDown="@OnMouseDown"
                                    OnClick="@OnClick"
                                    Light="@Light"
                                    Height="@Height"
                                    Key="@Key">
                                    @if (IconPosition == "left")
                                    {
                                        @if (Icon != null || Loading && !Disabled)
                                        {
                                            // TODO: 需要加载器实现，
                                            <SIconLoading></SIconLoading>
                                        }
                                        @Icon
                                        if (@ChildContent != null)
                                        {
                                            <span class="@BtnTextCls.GetClass()" x-semi-prop="@XSemiProp">
                                                @ChildContent
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        if (@ChildContent != null)
                                        {
                                            <span class="@BtnTextCls.GetClass()" x-semi-prop="@XSemiProp">
                                                @ChildContent
                                            </span>
                                        }
                                        @if (Icon != null || Loading && !Disabled)
                                        {
                                            // TODO: 需要加载器实现，
                                            <SIconLoading></SIconLoading>
                                        }
                                        @Icon
                                    }
                                </SButton>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>